.admission{
    /* background-color: red; */
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: bold;
}
.student-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  
  .student-table th,
  .student-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
    text-align: center;
  }
   tr:hover {
    background-color: #D6EEEE;
  }
  .student-table th {
    background-color: #f0f0f0;

  }  
 .student-table td button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
    background: none;
  } 
  
  .student-table td button:hover {
    background-color: white;
  } 

.emplist-container {
  margin-top: 20px;
}
.btn{
  background-color: rgb(71, 186, 231);
  margin-left: 10px;
  color: white;
}
.btn:hover{
  background-color: blue;
  color: white;
}
.pagination{
  margin-top: 40px;
  margin-left : 40% ; 
}
.active{
  color: white;
  background-color: cadetblue;
}
.btnpage{
  margin: 2px;
  border-radius: 20px;
  border: none;
  padding: 3px 15px;
}
.btnpage:hover{
  color: white;
  background-color: cornflowerblue;
}